<div class="p-2 bg-base-200 shadow-xl">
    <div class="flex max-lg:flex-wrap">
        <div class="avatar self-center">
            <div class="w-24 h-24 rounded">
                <img src="https://www.gravatar.com/avatar/95ed21cb5322d45bc5b1f3c881d4f9f6?size=96" alt="Profile Picture of BlayTheNinth">
            </div>
        </div>
        <div class="p-2">
            <p>
                I'm BlayTheNinth, a full stack developer from Germany. I have been developing mods since 2013 and
                occasionally
                work on
                <a class="link link-hover" href="https://tinyreactors.blay09.net/">games</a>
                and
                <span>
                    <a class="link link-hover" href="https://zedspace.eiradir.net/">roleplaying spayces</a>.
                </span>
            </p>
            <p>
                Twelve Iterations encompasses my Minecraft mods and other upcoming projects.
            </p>
        </div>
    </div>
</div>