---
import { Icon } from 'astro-icon';
---

<a href="https://www.patreon.com/bePatron?u=82241" class="btn btn-patreon uppercase rounded-none">
    <Icon name="mdi:patreon" class="w-6" />
    Become a Patron
</a>
