---
const { title, color, className } = Astro.props;
const borderClass = 'border-' + (color ?? 'primary')
---

<div class="bg-neutral border-l-4 py-2 px-4 mb-2 mt-2" class:list={[className, borderClass]}>
    <div class="font-bold text-lg mb-1">{title}</div>
    <slot />
</div>
