---
import { Icon } from 'astro-icon'

const {label, icon, iconClass} = Astro.props
---

<div class="permission-badge card bg-base-200">
    <div class="card-body">
        <div class="card-title">
            { icon && <Icon name={icon} class="mr-2 w-6" class:list={iconClass}/>}
            <span class="text-lg font-bold">{label}</span>
        </div>
        <div><slot></slot></div>
    </div>
</div>

<style is:global lang="scss">
.permission-badge {
    li {
        @apply text-sm;
    }
}
</style>