<div class="footer p-10 bg-base-200">
    <div></div>
    <div></div>
    <div>
        <a href="https://twelveiterations.com" class="footer-title">Twelve Iterations</a>

        <p>© 2023 Jean Baker</p>

        <p>All rights reserved.</p>
    </div>
    <div>
        <span class="footer-title">About</span>

        <ul>
            <li class="mb-1"><a class="link link-hover" href="/permissions">Permissions</a></li>
            <li class="mb-1"><a class="link link-hover" href="/privacy">Privacy Policy</a></li>
            <li class="mb-1"><a class="link link-hover" href="/legal">Legal Notice</a></li>
            <span class="link link-hover" data-ccpa-link="1"></span>
        </ul>
    </div>
    <div>
        <span class="footer-title">Social</span>

        <ul>
            <li class="mb-1"><a class="link link-hover" href="https://discord.gg/VAfZ2Nau6j">Discord</a></li>
            <li class="mb-1"><a class="link link-hover" href="https://twitter.com/BlayTheNinth">Twitter</a></li>
            <li class="mb-1"><a class="link link-hover" href="https://www.patreon.com/BlayTheNinth">Patreon</a></li>
        </ul>
    </div>
    <div>
        <span class="footer-title">Resources</span>

        <ul>
            <li class="mb-1"><a class="link link-hover" href="https://legacy.curseforge.com/members/blaytheninth/projects">CurseForge</a></li>
            <li class="mb-1"><a class="link link-hover" href="https://modrinth.com/user/BlayTheNinth">Modrinth</a></li>
            <li class="mb-1"><a class="link link-hover" href="https://github.com/TwelveIterationMods">GitHub</a></li>
        </ul>
    </div>
    <div></div>
</div>